$primary-color: #9356dc;
$secondary-color: hsl(317, 100%, 74%);
$tertiary-color: #99e2d0;
$bg-color: #707070;
$mobile: 375px;

$b-gradient: linear-gradient(to bottom, $secondary-color, $primary-color);

$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

$img-width: 90%;

$rounded: 20px;

$sect-pad: 2em 1em 3em;
